.loginForm {
    width: 70%;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}

.loginButton {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    background-color: #008080;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 16px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.9);
}

/* ------------------------ */
.body-lesson-3 {
    background-color: #009ece36;
}

h2 {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    text-align: center;
    color: crimson;
}

.links-box {
    width: max-content;
    display: grid;
    gap: 10px;
    margin: 60px auto 20px;
}

/*? lesson-44_20-2_filter-only */
input#search {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

input#search:focus {
    border-color: #ff9100;
    outline: none;
    box-shadow: 0 0 5px #ff730066;
}

#counter {
    width: max-content;
    margin: 20px auto;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: #ff9100;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 260px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.card h3 {
    margin: 0 0 10px;
    color: #007bff;
}

/** Анімація при появі */
.card.show {
    opacity: 1;
    transform: translateY(0);
}

/** Підсвічування тексту */
.highlight {
    background-color: yellow;
    font-weight: bold;
    color: #000;
    border-radius: 3px;
    padding: 0 2px;
}

/** Нічого не знайдено... */
.empty {
    text-align: center;
    margin-top: 40px;
    color: #888;
    font-size: 18px;
}